# Leer CSV

In [8]:
import pandas as pd   #Si hacemos SHIFT+TAB nos salen las opciones en cada método

In [7]:
df = pd.read_csv('./nba-stats-model/nba-stats-csv/player_info.csv') #./a partir de donde estamos ../retrocedemos un nivel

In [6]:
df.head(10)

   player_id            player_name season_id
0        920             A.C. Green   1996-97
1        243            Aaron McKie   1996-97
2       1425         Aaron Williams   1996-97
3        768              Acie Earl   1996-97
4        228             Adam Keefe   1996-97
5        154        Adrian Caldwell   1996-97
6        673         Alan Henderson   1996-97
7       1059  Aleksandar Djordjevic   1996-97
8        275          Allan Houston   1996-97
9        947          Allen Iverson   1996-97

Hay veces que no tiene cabeceras (head) y tenemos que tunearlo un poco

In [9]:
df = pd.read_csv('./nba-stats-model/nba-stats-csv/player_info_no_header.csv', header=None)

In [11]:
df.head()

      0               1        2
0   920      A.C. Green  1996-97
1   243     Aaron McKie  1996-97
2  1425  Aaron Williams  1996-97
3   768       Acie Earl  1996-97
4   228      Adam Keefe  1996-97

Como vemos la cabecera queda en números.

Tambien podemos querer que una de las columnas sea el índice (primera parte de cada fila). Vamos a elegir el playerID como index

In [12]:
df = pd.read_csv('./nba-stats-model/nba-stats-csv/player_info.csv', index_col='player_id')
df

              player_name season_id
player_id
920            A.C. Green   1996-97
243           Aaron McKie   1996-97
1425       Aaron Williams   1996-97
768             Acie Earl   1996-97
228            Adam Keefe   1996-97
...                   ...       ...
1628380      Zach Collins   2017-18
203897        Zach LaVine   2017-18
2216        Zach Randolph   2017-18
2585        Zaza Pachulia   2017-18
1627753           Zhou Qi   2017-18

[29228 rows x 2 columns]

Ahora vamos a cargar el csv en el dataframe, pero solo con las columnas que necesitamos, no todas

In [15]:
df = pd.read_csv('./nba-stats-model/nba-stats-csv/player_general_traditional_per_game_data.csv', 
                 usecols=['player_id', 'season_id'])  #Le decimos a pandas que columnas necesitamos
df.head()

   player_id season_id
0        471   1996-97
1        920   1996-97
2        243   1996-97
3       1425   1996-97
4        768   1996-97