In [1]:
import pandas as pd

In [3]:
lakers_dict = {
    'first_name': ['Lebron','Kyle', 'Lonzo', 'Brandon', 'Josh'],
    'last_name': ['James', 'Kuzma', 'Ball', 'Ingram', 'Hart'],
    'pgg': [27.4, 18.7, 9.9, 18.3, 7.8],
    'apg': [8.3, 2.5, 5.4, 3.0, 1.4],
    'rpg': [8.5, 5.5, 5.3, 5.1, 3.7]}

In [9]:
df = pd.DataFrame(lakers_dict)  #Crea un dataframe en base al dicionario que hemos hecho
df

  first_name last_name   pgg  apg  rpg
0     Lebron     James  27.4  8.3  8.5
1       Kyle     Kuzma  18.7  2.5  5.5
2      Lonzo      Ball   9.9  5.4  5.3
3    Brandon    Ingram  18.3  3.0  5.1
4       Josh      Hart   7.8  1.4  3.7

Podemos customizar los indices que nos pone por defecto

In [10]:
df = pd.DataFrame(lakers_dict, index=["playmaker", 'pf', 'pg', 'sf', 'sg']) #en este caso posiciones en el campo
df

          first_name last_name   pgg  apg  rpg
playmaker     Lebron     James  27.4  8.3  8.5
pf              Kyle     Kuzma  18.7  2.5  5.5
pg             Lonzo      Ball   9.9  5.4  5.3
sf           Brandon    Ingram  18.3  3.0  5.1
sg              Josh      Hart   7.8  1.4  3.7

Ahora vamos a partir de una lista. Suponemos que tenemos los datos del ultimo partido: Nombre, rebotes ofensivos, rebotes defensivos

In [13]:
stats = [['Lebron', 4, 6], ['Kuzma', 2, 3], ['Ball', 4, 4]]
print(stats)
type(stats)

[['Lebron', 4, 6], ['Kuzma', 2, 3], ['Ball', 4, 4]]

list

el problema es que ahora no tenemos títulos en las columnas, por lo que generamos los títulos al crear el DataFrame

In [14]:
stats_df = pd.DataFrame(stats, columns=['Name', 'oreb', 'dreb'])
stats_df

     Name  oreb  dreb
0  Lebron     4     6
1   Kuzma     2     3
2    Ball     4     4

Para crear una SERIE (datos de una sola columna) se hace igual con una lista simple

In [15]:
rebs = [6, 9, 11, 7, 3] #Lista de rebotes de Lebron

In [18]:
series_df = pd.DataFrame(rebs, columns=['Lebron_rebs'])
series_df

   Lebron_rebs
0            6
1            9
2           11
3            7
4            3